body {
    background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;}


nav {
    margin-right: -10px;
    font-family: Barlow Condensed;
    font-size: 16px;
    letter-spacing: 2.7px;
    float: right;
    backdrop-filter: blur(17px);
    background: #a6a4a408;
    width: 100%;
    max-width: 960px;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    height: fit-content;
    margin-left:-5%;
}

nav div span {
    font-weight: bolder;
    margin-right: 5px;
}

nav  div:hover {
    border-bottom: 1px solid #979797;
    cursor: pointer;
}

nav  div {
    display: inherit;
    height: 100px;
    margin-right: 50px;
    align-items: center;
}

nav a{
    display: flex;
    color: white;
    text-decoration: none;
}

.active{
    border-bottom: 1px solid white;
}

section {
    float: left;
}


.menu {
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.line{
    width: 100%;
    height: 1px;
    background-color: grey;
    position: relative;
    right: 0;
    top: 0;
    z-index: 99;
}

section img {
    margin-left: 40px;
}


span.sub-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 30px;
    
    
    color: #D0D6F9;
    }
    
    span.hero-text {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 150px;
        line-height: 172px;
        color: #FFFFFF;
    }
    
    span.top-text {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        color: #D0D6F9;
        margin-bottom: 30px;

    }


    .hero-all {
        display: flex;
        justify-content: space-evenly;
        height: 650px;
        align-items: flex-end;
    }
    
    
    .hero-right {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        color: #0B0D17;
        background: white;
        display: grid;
        align-items: center;
        width: 274px;
        height: 274px;
        text-align: center;
        border-radius: 50%;
        transition: 1s;
    }

    .hero-left-inner {
        display: grid;
        width: 380px;
        text-align: justify;
    }
    .hero-right:hover {
        box-shadow: 0px 0px 0px 70px #ffffff54;
    }
